body{background-color: gray;
font-size: 100%;}
main{
    width: 800px;
    height: 533px;
    margin-left: calc(50% - 400px);
    margin-top: 20px;
    display: inline-block;
    background-color: #FFFFFF;
    
}
div:nth-child(1){
    width: 40%;
    margin-top: 100px;
    margin-left: 60px;
    float: left;
}
h1{
    font-size: 8em;
    margin: 0;
    color: #289BF0;
}   
h2{
    font-size: 2.2em;
    letter-spacing: -6px;
    word-spacing: 8px;
    margin: 0;
    margin-bottom: 50px;
} 
a{
    margin-left: 40px;
    border: 2px solid;
    border-radius: 20px;
    border-color: #289BF0;
    color: #289BF0;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    text-decoration: none;
}
div:nth-child(2){
    width: 40%;
    margin-top: 100px;
    float: left;
 }
